

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.navbar-nav .nav-item{
  font-size: 18px; 
  padding-top: 15px;
  padding-bottom: 15px;
}
.register{
  

   margin-left: 30%;

}
.inputBox {
  display: block;
  margin: 25px;
  padding: 7px;
  width: 300px;
  border: 1px solid skyblue;
}

.appButton {
  margin: 25px;
  padding: 10px;
  width: 150px;
  background-color: skyblue;
  border: 1px solid;
  cursor: pointer;
}
.studentinfo {
  
    font-size: x-large;
}

.product-list{
  text-align: center;
  margin-top: 50px;
}
.product-list ul li{
  display: inline-block;
  border: 1px solid skyblue;
  padding: 5px;
  width: 150px;
}
.product-list ul{
  margin: 0;
}
.product{
  margin-left: 30%;
}







@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


.App-link {
  color: #61dafb;
 

 
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

